<h1 class="mt-4 font-bold">home Page</h1>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class=" w-full bg-gray-300 py-2 px-2 flex ">
        {{Date | date:"longDate"}}
    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom
                </th>
                <th scope="col" class="px-6 py-3">
                   Prenom
                </th>
                <th scope="col" class="px-6 py-3">
                    Date Naissance
                </th>
                <th scope="col" class="px-6 py-3">
                    Télephone
                </th>
                <!-- <th scope="col" class="px-6 py-3">
                    Status
                </th> -->
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of contacts;let i = index" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.Nom | uppercase}}
                </th>
                <td class="px-6 py-4">
                    {{user.Prenom | lowercase}}
                </td>
                <td class="px-6 py-4">
                    {{user.Date_naissance | date: 'dd/MM/yyyy'}}
                </td>
                <td class="px-6 py-4">
                    {{user.Tel}}
                </td>
                <!-- <td *ngIf="user.Status == 'active';else inactive" class="px-6 py-4">
                   <span class="px-2 py-2 bg-green-500 text-white hover:bg-green-600 rounded-md">active</span> 
                </td>
                <ng-template #inactive>
                    <td class="px-6 py-4">
                        <span class="px-2 py-2 bg-red-500 text-white hover:bg-red-600 rounded-md">en attend</span>
                    </td>
                </ng-template> -->
                <td class="px-6 py-4">
                    <button (click)="removeContact(i)" class="text-white rounded-md bg-red-600 px-1 py-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                      </svg>
                    </button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
